body {
  background-color: #282c34;
  color: white;
  font-family: Sans-Serif;
  
}

.header{

}


li{
  display: inline-block;
  margin: 20px;
}

li a{
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul{
  background-color: aliceblue;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
}

li a:hover {
  background-color: #282c34;
  color: aliceblue;

}

.content{
  display: flex;
  
  text-align: center;
  margin-top: 20px;

}
.image{
  
  margin-left: 50px;
  margin-top: 20px;
  
}
h1{
  margin-right: 0px;
  margin-left: 400px;
  margin-top: 220px;
  padding: 90px;
  color: rgb(224, 148, 61);
  font-size: 60px;
  
}




